/* Page transitions */
.page-transition-appear {
  opacity: 0.01;
}

.page-transition-appear.page-transition-appear-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
  position: absolute;
}

.page-transition-enter {
  position: absolute;
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}

.page-transition-leave {
  position: absolute;
  opacity: 1;
  transition: opacity 400ms ease-out;
}

.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}
